body{
  background-image: url(images/perfumes/bg9.jpg);
  background-size: cover;  
  background-attachment: fixed;
  margin: 0;
  font-family: arial;
}

#header-container{
  height: 165px;
  background-image: url(images/perfumes/bg4.jpg);
  background-size: cover;

}

#main-header{
  width: 1000px;
  margin: auto;
  height: 165px;
  background-image: url(images/perfumes/Screenshot\ \(60\).png);
  background-attachment: fixed;
}

#navigation-container{
  height: 35px;
  background-image: url(images/perfumes/bg7.jpg);
  background-attachment: fixed;

}

#main-navigation{
  width: 1000px;
  margin: auto;
  height: 35px;
  background-image: url(images/png/nav.png);
  background-attachment: fixed;
  background-size: cover;  
}

#main-navigation a{
  color: hsl(123, 92%, 28%);
  opacity: 0.9;
  text-decoration: none;
  line-height: 35px;
  padding: 0 52px;
  border-left: 5px inset #00060081;
  border-left: 5px outset #00060081;
  float: left;
  font-size: 15px;
  font-weight: bolder;
}

#main-navigation a:hover{
  background-image: url(images/jpg/hover.jpg);
  color: #e5ffbaff;
}

#headline-container{
  height: 25px;
  background-image: url(images/jpg/footer_bottom.jpg);
}

#main-headline{
  width: 1000px;
  background-image: url(images/jpg/footer_bottom.jpg);
  margin: auto;
  height: 25px;
}

#main-headline marquee{
  /* color: #a987a6; */
  
  color: hwb(98 69% 4%);
  line-height: 25px;
  font-size: 20px;
}

#content-container{
  background-color: #404040aa;
  width: 930px ;
  padding: 35px;
  margin: auto;
  opacity: 0.872;
}

#slide{
  height: 300px;
  background-color: honeydew;
  border-radius: 25px;
  background-image: url(images/perfumes/bg9.jpg);
  background-size: cover;
  background-attachment: fixed;
  line-height: 300px;
  transition: .2s ease-in-out;;
}

#slide img:hover{
  
  transform: scale(1.1);
  /*add hover or overlay effects to the images*/
}
#article1{
  margin-top: 30px;
  height: 150px;
  border-top: solid 3px #008800;
  border-bottom: solid 3px #008800;
}

#article1 h1{
  color: #3eff47;
  opacity: 0.9;
  text-align: center;
  font-weight: bolder;
}

#article1 p{
  color: #fffeff;
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
}

#article2{
  margin-top: 30px;
  height: 250px;
  border-top: solid 3px #008800;
  border-bottom: solid 3px #008800;
}

#article2 h1{
  color: #3eff47;
  opacity: 0.9;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}

#article2 p{
  color: #fffeff;
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
}

#preview1{
  height: 220px;
  margin-top: 30px;
}

.preview1-picture{
  width: 280px;
  height: 220px;
  margin: 0 15px;
  float: left;
  background-color: rgb(205, 200, 208);
  border-radius: 25PX;
  transition: .4s ease-in;
}

.preview1-picture:hover{
  transform: scale(1.2);
}
#preview2{
  height: 200px;
  margin-top: 30px;
}

.preview2-picture{
  width: 435px;
  height: 200px;
  margin: 0 15px;
  float: left;
  background-color: rgb(205, 200, 208);
  border-radius: 35px;
  transition: .2s ease-in-out;
}

.preview2-picture:hover{
  transform: scale(1.1);
}
#footer-container{
  height: 350px;
  background-image: url(images/perfumes/bg4.jpg);
  background-size: cover;
}

#footer-top{
  width: 1000px;
  margin: auto;
  margin-bottom: 15px;
  height: 300px;
}

.footer-info{
  width: 220px;
  height: 300px;
  margin: 0 15px;
  float: left;
}

.footer-info h1{
  color: #3eff47;
  opacity: 0.9;
  font-size: 25px;
  font-weight: bold;
  margin:0;
  border-bottom: 5px dashed #0b590b;
}

.footer-info p{
  margin: 15px 0;
  color: hwb(98 69% 4%);
  font-size: 16px;
}

.footer-info a{
  color: #0b590b;
  text-decoration: none;
}

.footer-info a:hover{
  color: hwb(120 22% 76%);
  text-decoration: underline;
}

.footer-info li{ 
  color: hwb(98 69% 4%);
  font-size: 15px;
  line-height: 25px;
  list-style-image: url(images/png/clock.png);
}

.footer-info ul{
  padding: 0 24px;
}

.social{
  height: 65px;
  margin:25px -15px;
}

.social-icon{
  width: 56px;
  height: 56px;
  margin-left: 15px;
  float: left;
}

.about{
  height: 250px;
  border: solid 2px #0b590b;
  border-radius: 25px;
  margin: 30px 0;
}

.about-picture{
  width: 200px;
  height: 200px;
  margin: 15px;
  float: left;
}

.about-picture img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: .2s ease-in-out;
}

.about-picture img:hover{
  transform: scale(1.1);
  border-radius: 50px;
  width: 240px;
  height: 240px;
}

.about h1{
  color: hsl(123, 92%, 70%);
  font-size: 35px;
  font-weight: bold;
  opacity: 0.7;
}

.about p{
  color: hwb(98 80% 1%);
  font-size: 25px;
  margin: 15px;
  text-align: justify;
  opacity: 0.9;
}

.about a{
  color: #db99dbff;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid;
  border-radius: 25px;
  opacity: 0.7;
}

.about a:hover{
  color: hwb(0 77% 22%);
  font-size: 25px;
  background-color: olive;
  opacity: 0.9;
}

.read-more{
  border: solid 2px #0b590b;
  border-radius: 25px;
  padding: 30px;
}

.readmore-picture img{
  width: 200px;
  height: 200px;
  border-radius: 25px;
  float: left;
  margin-right: 15px;
}

.read-more h1{
  color: hsl(123, 92%, 70%);
  font-size: 30px;
  font-weight: bold;
  margin:0;
  opacity: 0.9;
}

.read-more p{
  margin: 15px 0;
  color: hwb(98 84% 2%);
  font-size: 20px;
  text-align: justify;
  opacity: 0.9;
}

.read-more h1 a{
  color: rgb(111, 159, 97);
  background-color: rgb(224, 171, 224);
  font-weight:bolder;
  font-size: 35px;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0.9;
}

.read-more h1 a:hover{
  color: honeydew;
  background-color: olive;
  text-decoration: none;
  font-size: 45px;
  opacity: 0.9;
}

.read-more  a{
  color: #db99dbff;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
  border: 2px solid #f2ccf2;
  border-radius: 25px;
  padding-right: 50px;
  padding: 0;
  margin: 115px 0;
  transition: 0.5s ease-out;
}

.read-more  a:hover{
  transform: translate(-50%, -50%);
  color: hwb(98 69% 4%);
  font-size: 18px;
  background-image: url(images/jpg/hover.jpg);
  opacity: 0.9;
}

.gallery img{
  width: 150px;
  height: 200px;
  margin: 15px;
  border-radius: 25px;
  transition: .2s ease-in-out;
}

.gallery img:hover{
  transform: scale(1.2);
}

.blog{
  border: solid 2px #0b590b;
  border-radius: 25px;
  padding: 30px;
}

.blog-picture img{
  width: 200px;
  height: 200px;
  border-radius: 25px;
  float: left;
  margin-right: 15px;
}

.blog h1{
  color: hsl(123, 92%, 70%);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin:0;
  opacity: 0.9;
}

.blog p{
  margin: 15px 0;
  color: hwb(98 84% 2%);
  font-size: 20px;
  text-align: justify;
  opacity: 0.9;
}

.blog a{
  color: #db99dbff;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  border: 2px solid #f2ccf2;
  border-radius: 25px;
  padding-right: 50px;
  padding: 0;
  margin: 115px 0;
  transition: 0.5s ease-out;
}

.blog a:hover{
  transform: translate(-50%, -50%);
  color: hwb(98 69% 4%);
  font-size: 30px;
  background-image: url(images/jpg/hover.jpg);
  opacity: 0.9;
}

#register{
  opacity: 0.;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(images/perfumes/bg9.jpg);
}

#register fieldset{
  border: 2px solid #f2ccf2;
  border-radius: 15px;
  margin-bottom: 30px;
}

#register legend{
  background-color: #16e816;
  color: rgb(247, 250, 253);
  margin: 10px 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
  font-style: oblique;
  opacity: 0.9;
}

#register td{
  line-height: 35px;
  color: #16e816;
  opacity: 0.7;
  font-size: 18px;
}

#reg{
  line-height: 35px;
  color: #16e816;
  opacity: 0.7;
  font-size: 18px;
  width: 760px;
}

#register th{
  line-height: 35px;
  color: #16e816;
  font-size: 23px;
  font-weight: bold;
  font-style: oblique;
}

#register ::placeholder{
  line-height: 35px;
  color: #353535;
  font-size: 18px;
  font-weight: bold;
  font-style: inherit;
}

#register #state{
  line-height: 35px;
  color: #3b523b;
  font-size: 15px;
  font-weight: bold;
  font-style: initial;
}

#register input[type=submit],[type=reset]{
  padding: 10px 25px;
  width: 30%;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

#register input[type=submit]:hover,[type=reset]:hover{
  padding: 10px 25px;
  width: 35%;
  border-radius: 5px;
  color: #e0e6e2;
  font-size: 20px;
  background-color: #008800;
  opacity: 0.6;
}

#register input[type=text],[type=password],[type=email],[type=number],textarea{
  padding: 10px 25px;
  width: 100%;
  border-radius: 5px;
}

#register input[type=text]:focus,[type=password]:focus,[type=email]:focus,[type=number]:focus,textarea:focus{
  background-color: #dceedc;
  opacity: 0.5;
}

#branches table{
  border: 2px solid #f2ccf2;
  border-collapse: collapse;
  width: 940px;
  height: 1000px;
  margin-left: -7px;
  text-align: center;
}

#branches th{
  border: 2px solid #f2ccf2;
  padding: 20px;
  background-color: #090909;
  color: #f704eb;
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  opacity: 0.7;
}

#branches td{
  border: 2px solid #f2ccf2;
  padding: 20px;
  background-image: url(images/perfumes/bg9.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #9ae715cc;
  opacity: 0.;
  font-size: 18px;
  font-weight: bolder;
  font-style: italic;
}

#branches a{
  color: #005500;
  text-decoration: none;
  font-size: 18px;
}

#branches a:hover{
  color: #4c9800;
  text-decoration: underline;
}
#footer-bottom{
  width: 1000px;
  margin: 0 200px;
  height: 50px;
  background-image: url(images/jpg/footer_bottom.jpg);
}

#footer-bottom p{
  margin: 0;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
}

#footer-bottom a{
  text-decoration: none;
  color: #db99dbff;
}

#footer-bottom a:hover{
  color: rgb(194, 253, 99);
  text-decoration: double;
}

.footer-info h1{
  color: hsl(123, 93%, 66%);
  font-size: 25px;
  font-weight: bold;
  margin: -4px;
  border-bottom: 5px dashed #0b590b;
}

.footer-info p{
  margin: 15px 0;
  color: rgb(194, 253, 99);
  font-size: 16px;
}

.footer-info a{
  color: #0b590b;
  text-decoration: none;
}
.footer-info li{ 
  color: rgb(194, 253, 99);
  font-size: 15px;
  line-height: 25px;
  list-style-image: url(images/png/clock.png);
}
.footer-info a:hover{
  color: hwb(120 22% 76%);
  text-decoration: underline;
}